.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.create_title {
    font-size: 2rem;
    color: #646cff;
    margin-bottom: 2rem;
}

.create_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 60%;
    background-color: #3b3b3b;
    padding: 2rem;
    border-radius: 10px;
}

.create_form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    outline: none;
}

.create_form button {
    color: #646cff;
    width: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 0.5rem;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: all 0.3s;
}
.create_form button:hover {
    border-color: #646cff;
    scale: 1.1;
}
